# Драйвер для работы с локальной шиной /dev/i2c-N в Linux
smbus2>=0.4.3

# Драйвер для работы с USB-адаптером CH341 через libusb
pyusb>=1.2.1

# Драйвер для работы с адаптерами FTDI (FT232H, FT2232H, FT4232H)
pyftdi>=0.55.4

